body{
  background-color: #D9D7D7;

}
.App {
  text-align: center;
  font-family: 'Dosis', sans-serif;

}
h1{
  text-shadow: 4px 4px 2px rgba(150, 150, 150, 1);
  font-family: 'Bangers', cursive;
  font-size: 80px;
  color: #B4BF5E;
  letter-spacing: 3px;
}
h2{
  font-family: 'Dosis', sans-serif;
  color: rgba(150, 150, 150, 1);
  font-size: 35px;
}

.dairy_bg{
  background-image: url('./icons/other/counter-display.png');
  height: 512px;
  width: 512px;
  margin-left: auto;
  margin-right: auto;

}

.dairy1{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 100px;
  padding-top: 10px;
  padding-left: 62px;
}
.dairy2{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 100px;
  padding-top: 30px;
  padding-left: 62px;
}
.dairy3{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 100px;
  padding-top: 20px;
  padding-left: 178px;
}



.meet_bg{
  background-image: url('./icons/other/counter-display.png');
  height: 512px;
  width: 512px;
  margin-left: auto;
  margin-right: auto;

}

.meet1{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 100px;
  padding-top: 10px;
  padding-left: 120px;
}
.meet2{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 100px;
  padding-top: 26px;
  padding-left: 80px;
}

.meet2_2{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 100px;
  padding-top: 26px;
  padding-left: 99px;
}
.meet3{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 100px;
  padding-top: 20px;
  padding-left: 115px;
}


.vegetables_bg{
  background-image: url('./icons/other/shelves Vegetables.png');
  height: 610px;
  width: 610px;
  margin-left: auto;
  margin-right: auto;
}

.vegetables1{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 100px;
  padding-top: 124px;
}
.vegetables2{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 100px;
  padding-top: 109px;
  padding-right: 1px;
}

.span_veg{
  margin-left: 20px;
  margin-top: 1px;
}


/* .img_veg{

} */


.liquors_bg{
  background-image: url('./icons/other/shelves.png');
  height: 580px;
  width: 580px;
  margin-left: auto;
  margin-right: auto;
}

.liquors1{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 100px;
  padding-top: 138px;
  padding-left: 82px;
}
.liquors2{
  display: flex;
  margin-left: auto;
  margin-right: auto;
  width: 500px;
  height: 100px;
  padding-top: 95px;
  padding-left: 46px;
}

.span_liq{
  margin-left: 31px;
  padding-bottom: 1px;
}

.img_liq{
  margin-bottom: 2px;
}


.cashier{
  background-image: url('./icons/other/cashier.png');
  height: 512px;
  width: 512px;
  margin-left: auto;
  margin-right: auto;
}

.p_shop{
  position: absolute;
  top:1%;
  left: 10%;
}
.money{
  position: absolute;
  top:1%;
  right: 10%;
}

.cashier_bag{
  display: inline-block;
}




img{
  margin: 10px; 
  margin-left: 30px;
  margin-right: 10px;
  margin-bottom: -5px;
}
span{
  margin-left: 30px;
  margin-top: 1px;
}

.myButton {
	box-shadow: 0px 10px 14px -7px #282c34;
	background-color:#77b55a;
	border-radius:8px;
	border:1px solid #000000;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:16px;
	font-weight:bold;
	padding:10px 17px;
	text-decoration:none;
  text-shadow:0px 1px 0px #5b8a3c;
  margin: 5px;
}

.myButton:active {
	position:relative;
	top:1px;
}

.myButton:focus { 
  outline:none; 
} 

input { 
  padding:3px;
  font-size:26px; 
  border-color:#cccccc; 
  border-style:hidden; 
  border-radius:10px; 
  border-width:3px; 
  box-shadow: 0px 0px 8px 0px rgba(42,42,42,.75); 
  font-family:cursive; 
  text-align:center;  
  margin: 15px;
} 
input:focus { 
  outline:none; 
} 

label{
  font-weight: bold;
  font-size: 25px;
}

li,ul{
  list-style-type: none;
  font-size: 25px;
  font-weight: bolder;
}
.Sdelete{
  transform: rotate(45deg);
  font-size: 30px;
  font-weight: bold;
  color:#D90D1E;
  width: fit-content;
  height: fit-content;
  margin: 0;
}
.Bdelete{
  transform: rotate(45deg);
  border: none;
  background-color: #D9D7D7;
  padding-top: 1px;
  
}

.Bdelete:focus { 
  outline:none; 
} 








        

